[user]
	name = Berker Peksag
	email = berker.peksag@gmail.com
[color]
	ui = auto
[core]
	filemode = false
	editor = nano
[status]
	showUntrackedFiles = no
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
        st = status -unormal
        # Usage: git get <BRANCH_NAME>
        # https://github.com/mozilla/webdev-bootcamp/issues/12#issuecomment-7118587
        get = "!f() { echo Merging $1... && git checkout master && git pull origin master && git submodule sync && git submodule update --init --recursive && git checkout $1 && git rebase master && git checkout master && git merge --ff-only $1; }; f"
        gb = branch
        gsu = submodule update --init --recursive
        hgp = show --format=\"From: %an <%ae>%n%s%n%b\" -U8
[branch "master"]
	rebase = true
