[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/flake8"]
	path = .vim/bundle/flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/mozilla"]
	path = .vim/bundle/mozilla
	url = git://github.com/mozfr/mozilla.vim.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".emacs.d/modes/auto-complete"]
	path = .emacs.d/modes/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/modes/fullscreen"]
	path = .emacs.d/modes/fullscreen
	url = git://github.com/emacsmirror/fullscreen.git
[submodule ".emacs.d/modes/linum"]
	path = .emacs.d/modes/linum
	url = git://github.com/emacsmirror/linum.git
[submodule ".emacs.d/modes/markdown-mode"]
	path = .emacs.d/modes/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/modes/python-mode"]
	path = .emacs.d/modes/python-mode
	url = git://github.com/emacsmirror/python-mode.git
[submodule ".emacs.d/modes/smooth-scrolling"]
	path = .emacs.d/modes/smooth-scrolling
	url = git://github.com/emacsmirror/smooth-scrolling.git
[submodule ".emacs.d/modes/whitespace"]
	path = .emacs.d/modes/whitespace
	url = git://github.com/emacsmirror/whitespace.git
[submodule ".emacs.d/modes/color-theme"]
	path = .emacs.d/modes/color-theme
	url = git://github.com/5D/emacs-color-theme.git
[submodule ".emacs.d/modes/popup-el"]
	path = .emacs.d/modes/popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/gist"]
	path = .vim/bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule ".vim/bundle/webapi"]
	path = .vim/bundle/webapi
	url = git://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
