[user]
	name = Berker Peksag
	email = berker.peksag@gmail.com
[color]
	ui = auto
[core]
	filemode = false
	editor = nano
[status]
	showUntrackedFiles = no
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	st = status -unormal
	sha = "!sh -c 'git rev-parse --short \"$1\"' -"
[branch "master"]
	rebase = true
[help]
	autocorrect = 1
[push]
	default = tracking
